.text {
  color: white;
}

.text:hover {
  color: black;
}

.icon {
  width: 25px;
}

.text1:hover {
  color: #e83e8c;
}

.text1 {
  color: white;
}


.card-img-top {
  width: 100%;
  height: 250px;
}



.card:hover {
  transform: scale(1);
  z-index: 1;
  overflow: auto;
}
 img:hover {
  transition: 0.4s;
  position: relative;
}
